# Config File
config.toml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# mac hidden files
.DS_Store

#other
Dockerfile
node_modules/
bower_components/
.tmp
.sass-cache
builds/**/images/*
*.ogg
*.mp3
*.mp4
*.png
*.jpeg
